.hr-large {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hr-blog {
    width: 7.5rem;
    height: 2px;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    background-color: rgb(225, 225, 225);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blog-content {
    margin-bottom: 4rem;
}

.blog-desc {
    width: 85%;
}

.nav-img {
    height: 2.5rem;
}

.s-float {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.clearfloat {
    clear: both;
}

.desc-body {
    width: 60%;
    float: left;
    padding-right: 2.5rem;
}

.mr-left {
    text-align: right;
    /* Mobile mode align right */
}

.desc-side {
    width: 40%;
    float: right;
}

.desc-side-img {
    width: 100% !important;
    height: auto;
    float: right;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.text-c {
    text-align: center;
}

.text-l {
    text-align: left;
}

.jumbo-logo {
    max-width: 7.5rem;
    max-height: 7.5rem;
}

.jumbotron {
    background-color: rgb(245, 245, 245);
}

.bg-lighter {
    background-color: rgb(255, 255, 255);
}