<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/_vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Zeno</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-lighter">
        <a class="navbar-brand" href="{{ url_for('index') }}"><img
                src="https://gitlab.com/zeno-src/zeno-branding/raw/master/v1/logo.png" class="nav-img noselect"></a>
        <ul class="navbar-nav mr-left">
            <li class="nav-item">
                <a class="nav-link noselect" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link noselect" href="{{ url_for('blog') }}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link noselect" href="https://gitlab.com/zeno-src/">Source Code</a>
            </li>
        </ul>
    </nav>
    <div class="jumbotron">
        <div class="s-float">
            <div>
                <h1 class="display-3 noselect">Blog</h1>
                <p class="lead noselect">Updates & announcements for Zypo.</p>
            </div>
            <div class="text-c">
                <img class="jumbo-logo noselect"
                    src="https://gitlab.com/zeno-src/zeno-branding/raw/master/v1/logo-retina-transparent.png">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <h3>TinyDB implementation</h3>
            <div class="hr-blog"></div>
            <p class="blog-desc">As Zeno editor is a fun, non-critical project to learn TUI development, so it's fitting to implament another non-critical project that's a spinoff of a small database that was developed for a small profile storage system.<br><br>This new database crate is called "TinyDB" and can be found on <b><a href="https://gitlab.com/owez/tinydb">GitLab</a></b> or <b><a href="https://crates.io/crate/tinydb">Crates.io</a></b>. It is a small database implamentation based on Hash Tables (more specifically the Rust <a href="https://doc.rust-lang.org/std/collections/struct.HashSet.html">HashSet</a>) and file dumps with the <a href="https://github.com/serde-rs/serde">serde</a> serialization/deserialization crate. It is a primarily in-memory database with dumping as a sort of "backup feature" incase of immanent faliure.</p>
        </div>
        <div class="blog-content">
            <h3>Zypo website released</h3>
            <div class="hr-blog"></div>
            <p class="blog-desc">Welcome to the new Zypo website, this is a small page that contains infomation about
                the new Zypo code
                editor. Say tuned for new updates and announcements!</p>
        </div>
    </div>
</body>

</html>