<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/_vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Zeno</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-lighter">
        <a class="navbar-brand" href="{{ url_for('index') }}"><img
                src="https://gitlab.com/zeno-src/zeno-branding/raw/master/v1/logo.png" class="nav-img noselect"></a>
        <ul class="navbar-nav mr-left">
            <li class="nav-item active">
                <a class="nav-link noselect" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link noselect" href="{{ url_for('blog') }}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link noselect" href="https://gitlab.com/zeno-src/">Source Code</a>
            </li>
        </ul>
    </nav>
    <div class="jumbotron">
        <div class="s-float">
            <div>
                <h1 class="display-3 noselect">Zypo</h1>
                <p class="lead noselect">A new, fast code editor.</p>
            </div>
            <div class="text-c">
                <img class="jumbo-logo noselect"
                    src="https://gitlab.com/zeno-src/zeno-branding/raw/master/v1/logo-retina-transparent.png">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="desc-body">
            <h2>What is it?</h2>
            <p class="lead">Zypo is a brand-new code editor that strives for simplicity. It is built with quickness and
                ease-of-use in mind.</p>
            <hr class="large-hr">
            <h2>Key features</h2>
            <ul class="lead">
                <li>Ease-of-use</li>
                <li>Minimal dependancies (lightweight)</li>
                <li>Extensive profile system</li>
                <li>Possible lua plugins</li>
            </ul>
            <hr class="large-hr">
            <h2>Installation</h2>
            <p class="lead">If you are running a Linux-based operating system, there are pre-built binary artifacts
                avalible <a href="https://gitlab.com/zeno-src/zeno/pipelines?scope=branches">here</a>. Zypo supports
                Windows, MacOS and other common platforms but have not been tested and will have to be manually built.
            </p>
        </div>
        <div class="desc-side">
            <img class="desc-side-img noselect"
                src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fil7.picdn.net%2Fshutterstock%2Fvideos%2F13230170%2Fthumb%2F1.jpg&f=1&nofb=1">
            <img class="desc-side-img noselect"
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.0gblCK-vN5wmqkpIuDaguQHaEL%26pid%3DApi&f=1">
        </div>
    </div>
    <div class="clearfloat"></div>
    <hr>
    <footer class="s-float">
        <p>Copyright 2019 Zeno.</p>
        <p>Hosted from <a href="https://gitlab.com/zeno-src/zeno-website">
                https://gitlab.com/zeno-src/zeno-website</a>.</p>
    </footer>
</body>

</html>